{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": 0,
    "react/sort-comp": 0
  },
  "globals": {
    "HighlightResult": false
  },
  "env": {
    "browser": true
  }
}
